---
layout: default
---
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<div class="home">
  
  {{ content }}

  {% assign posts = site.posts %}


  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <div class="box home-box">
      <div class="post-list">
        {%- for post in posts -%}
          <a class="post-link" href="{{ post.url | relative_url }}">
            <h3>{{ post.title | escape }}</h3>
          </a>
        {%- endfor -%}
      </div>
    </div>

  {%- endif -%}

</div>
