---
layout: default
---
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
